p.error {
    color: red;
}

body {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

label {
    display: inline-block;
    padding-bottom: 10px;
    text-align: right;
    white-space: pre;
}

hr {
    width: 200px;
}