<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Opret bruger</title>
</head>
<body>

<h1>Opret bruger</h1>
<p class="error" th:text="${message}"></p>
<form action="/bruger-oprettet" method="post">
    <label>Nye brugernavn:       </label><input name="username" autofocus><br>
    <label>Nye adgangskode:      </label><input type="password" name="password_1"><br>
    <label>Nye adgangskode igen: </label><input type="password" name="password_2"><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a href="/"><button>Fortryd</button></a>

</body>
</html>