<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Ønskeliste</title>
</head>
<body>

<h1 th:text="${wishList.title}"></h1>
<p th:text="${wishList.description}"></p>
<a th:href="@{'/opret-bruger?onskeliste=' + ${wishList.wishListID}}"><button>Opret bruger</button></a>
<a th:href="@{'/log-ind?onskeliste=' + ${wishList.wishListID}}"><button>Log ind</button></a>
<p th:unless="${wishes.isEmpty}">Log ind eller opret en bruger for at reservere ønsker.</p>
<hr>
<p th:if="${wishes.isEmpty}">Denne ønskeliste har ingen ønsker endnu.</p>
<div th:each="wish : ${wishes}">
    <h2 th:text="${wish.title}"></h2>
    <div th:if="${wish.numberOfUnits > 1}" th:text="${'Antal: ' + wish.numberOfUnits + ' stk.'}"></div>
    <div th:if="${wish.numberOfUnits == 1 && wish.pricePerUnit > 0}" th:text="${'Pris: ' + wish.pricePerUnit + ' kr.'}"></div>
    <div th:if="${wish.numberOfUnits > 1 && wish.pricePerUnit > 0}" th:text="${'Pris pr. stk.: ' + wish.pricePerUnit + ' kr.'}"></div>
    <a th:if="${wish.link.length > 0}"  th:href="${wish.link}" target="_blank" rel="noopener noreferrer" th:text="${'Link'}"></a>
    <p th:text="${wish.description}"></p>
    <hr>
</div>

</body>
</html>