<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>Forside</title>
</head>

<body>
<a th:href="@{/create_user}"><button>Opret bruger</button>
</a>
<br>
<form th:action="@{/login}" th:object="${userProfile}" method="post">
    <label>Brugernavn:</label>
    <input th:field="*{username}">
    <label>Adgangskode:</label>
    <input th:field="*{password}" type="password">
    <button type="submit">Log ind</button>
</form>
</body>
</html>
