<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Log ind</title>
</head>
<body>

<h1>Log ind</h1>
<p class="error" th:text="${message}"></p>
<form action="/logget-ind" method="post">
    <label>Brugernavn:  <input name="username" autofocus></label><br>
    <label>Adgangskode: <input name="password" type="password"></label><br>
    <button type="submit">Log ind</button>
</form>
<hr>
<a href="/"><button>Fortryd</button></a>

</body>
</html>
