<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Rediger ønske</title>
</head>
<body>

<h1>Rediger ønske</h1>
<form th:action="@{'/onskeliste/' + ${wishListID} + '/onske-redigeret/' + ${wish.wishID}}" method="post">
    <label>Titel:         <input name="title" th:value="${wish.title}" autofocus></label><br>
    <label>Antal:         <input type="number" name="number" th:value="${wish.numberOfUnits}"></label><br>
    <label>Pris/stk. dkk: <input type="number" name="price" th:value="${wish.pricePerUnit}"></label><br>
    <label>Link:          <input type="url" name="link" th:value="${wish.link}"></label><br>
    Beskrivelse:<br><textarea name="description" th:text="${wish.description}"></textarea><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a th:href="@{'/onskeliste/' + ${wishListID}}"><button>Fortryd</button></a>
<hr>
<p class="error" th:text="${message}"></p>
<form th:action="@{'/onskeliste/' + ${wishListID} + '/slet-onske/' + ${wish.wishID}}" method="post">
    <label>Bekræft sletning: <input type="checkbox" name="confirm"></label><br>
    <button type="submit">Slet ønske</button>
</form>

</body>
</html>