<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Skift adgangskode</title>
</head>
<body>

<h1>Skift adgangskode</h1>
<p class="error" th:text="${message}"></p>
<form action="/adgangskode-skiftet" method="post">
    <label>Gamle adgangskode:    </label><input name="old_password" type="password" autofocus><br>
    <label>Nye adgangskode:      </label><input name="new_password_1" type="password"><br>
    <label>Nye adgangskode igen: </label><input name="new_password_2" type="password"><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a href="/min-side"><button>Fortryd</button></a>

</body>
</html>