<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Skift brugernavn</title>
</head>
<body>

<h1>Skift brugernavn</h1>
<p>Er du sikker på, at du vil ændre dit brugernavn? Gamle links til dine ønskelister vil holde op med at virke.</p>
<p class="error" th:text="${message}"></p>
<form action="/brugernavn-skiftet" method="post">
    <label>Nye brugernavn: </label><input name="newUsername" th:value="${oldUsername}" autofocus><br>
    <label>Adgangskode:    </label><input name="password" type="password"><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a href="/min-side"><button>Fortryd</button></a>

</body>
</html>