<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/main.css}">
        <title>Forside</title>
</head>
<body>
        <form action="/save_password" method="post">
        <label>Password: </label>
        <input name="password" type="password">
        <label>Nyt Password: </label>
        <input name="new_password" type="password">
        <button type="submit">Gem</button>
</form>
        <a href="/homepage">
                <button>Fortryd</button>
        </a>
</body>
</html>