<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Min side</title>
</head>
<body>

<h1 th:text="'Velkommen ' + ${username}"></h1>
<a href="/skift-brugernavn"><button>Skift brugernavn</button></a>
<a href="/skift-adgangskode"><button>Skift adgangskode</button></a>
<a href="/slet-bruger"><button>Slet bruger</button></a>
<a href="/log-ud"><button>Log ud</button></a>


<a href="/se-oenskeliste"><button>Gå til ønskeliste</button></a>

</body>
</html>