<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>Brugerside</title>
</head>
<body>
    <p th:text="${message}"></p>
    <p th:text="${username}"></p>
    <a href="/update_username">
        <button>Rediger brugernavn</button>
    </a>
    <p th:text="${password}"></p>
    <a href="/update_password">
        <button>Rediger password</button>
    </a>
    <a href="/logout">
        <button>Log ud</button>
    </a>
    <a href="/delete_user">
        <button>Slet bruger</button>
    </a>
</body>
</html>