<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Min side</title>
</head>
<body>

<h1 th:text="'Velkommen ' + ${username}"></h1>
<a href="/skift-brugernavn"><button>Skift brugernavn</button></a>
<a href="/skift-adgangskode"><button>Skift adgangskode</button></a>
<a href="/slet-bruger"><button>Slet bruger</button></a>
<a href="/log-ud"><button>Log ud</button></a>
<p>Dine ønskelister:</p>
<div th:if="${wishLists.isEmpty}">Du har ingen ønskelister endnu.</div>
<div th:each="wishList : ${wishLists}">
    <a th:href="@{'/onskelister/' + ${wishList.wishListID}}" th:text="${wishList.title}"></a>
</div>
<br>
<a href="/opret-onskeliste"><button>Opret ny ønskeliste</button></a>

</body>
</html>