<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title th:text="${wishList.title}"></title>
</head>
<body>

<h1 th:text="${wishList.title}"></h1>
<p th:text="${wishList.description}"></p>
<a href="/min-side"><button>Tilbage til min side</button></a>
<a th:href="@{'/onskeliste/' + ${wishList.wishListID} + '/rediger-onskeliste'}"><button>Rediger ønskeliste</button></a>
<a th:href="@{'/onskeliste/' + ${wishList.wishListID} + '/tilfoj-onske'}"><button>Tilføj ønske</button></a>
<p th:if="${wishes.isEmpty}">Denne ønskeliste har ingen ønsker endnu.</p>
<hr th:unless="${wishes.isEmpty}">
<div th:each="wish : ${wishes}">
    <h2 th:text="${wish.title}"></h2>
    <div th:if="${wish.price > 0}" th:text="${'Pris: ' + wish.price + ' kr.'}"></div>
    <a th:if="${wish.link.length > 0}"  th:href="${wish.link}" target="_blank" rel="noopener noreferrer" th:text="${'Link'}"></a>
    <p th:text="${wish.description}"></p>
    <a th:href="@{'/onskeliste/' + ${wishList.wishListID} + '/rediger-onske/' + ${wish.wishID}}"><button>Rediger ønske</button></a>
    <hr>
</div>

</body>
</html>