<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Tilføj ønske</title>
</head>
<body>

<h1>Tilføj ønske</h1>
<p class="error" th:text="${message}"></p>
<form th:action="@{'/onskeliste/' + ${wishListID} + '/onske-tilfojet'}" method="post">
    <label>Titel:         <input name="title" autofocus></label><br>
    <label>Antal:         <input type="number" name="number"></label><br>
    <label>Pris/stk. dkk: <input type="number" name="price"></label><br>
    <label>Link:          <input type="url" name="link"></label><br>
    Beskrivelse:<br><textarea name="description"></textarea><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a th:href="@{'/onskeliste/' + ${wishListID}}"><button>Fortryd</button></a>

</body>
</html>