<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Tilføj ønske</title>
</head>
<body>

<h1>Tilføj ønske</h1>
<p class="error" th:text="${message}"></p>
<form th:action="@{'/onskelister/' + ${wishListID} + '/onske-tilfojet'}" method="post">
    <label>Titel:      </label><input name="title" autofocus><br>
    <label>Pris (DKK): </label><input type="number" name="price"><br>
    <label>Link:       </label><input type="url" name="link"><br>
    Beskrivelse:<br><textarea name="description"></textarea><br>
    <button type="submit">Gem</button>
</form>
<hr>
<a th:href="@{'/onskelister/' + ${wishListID}}"><button>Fortryd</button></a>

</body>
</html>